.mySlides {display:none;}

.contenedor{
 display: grid;
 grid-template-columns: 10% 70% 20%;
 grid-template-rows: auto 200px;
 grid-template-areas: "logo header login"
                      "carousel carousel carousel"
                      "pricing pricing pricing"
                      "features features features"
                      "testimonials testimonials testimonials"
                      "support support support"
                      "parallax parallax parallax"
                      "sectionpad sectionpad sectionpad"
                      "footer footer footer"
                      "copyright copyright copyright";                    
}

.contenedor header{
    grid-area: header;
    display: flex;
    justify-content: flex-end;
}

.contenedor header ul li{
    display: inline-block;
    padding: .5rem;
    margin-left: 2.5rem;
}

.contenedor header ul li a{
    text-decoration: none;
    color: black;
}
.contenedor .logo-class{
    grid-area: logo;
    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
.contenedor .login-class{
    grid-area: login;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contenedor section{
    margin: 0 auto;
}
.contenedor footer{
    margin: 0 auto;
}
.contenedor .carousel-class{
    grid-area: carousel;
}
.contenedor .pricing-class{
    grid-area: pricing;
}
.contenedor .features-class{
    grid-area: features;
}
.contenedor .testimonials-class{
    grid-area: testimonials;
}
.contenedor .support-class{
    grid-area: support;
}
.contenedor .parallax-class{
    grid-area: parallax;
}
.contenedor .sectionpad-class{
    grid-area: sectionpad;
}
.contenedor .footer-class{
    grid-area: footer;
}
.contenedor .copyright-class{
    grid-area: copyright;
}